/* шрифты */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"),
       url("../fonts/Montserrat-Light.woff2") format("woff2"),
       url("../fonts/Montserrat-Light.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),
       url("../fonts/Montserrat-Regular.woff2") format("woff2"),
       url("../fonts/Montserrat-Regular.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"),
       url("../fonts/Montserrat-Medium.woff2") format("woff2"),
       url("../fonts/Montserrat-Medium.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"),
       url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
       url("../fonts/Montserrat-SemiBold.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"),
       url("../fonts/Montserrat-Bold.woff2") format("woff2"),
       url("../fonts/Montserrat-Bold.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat"),
       url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
       url("../fonts/Montserrat-ExtraBold.woff") format("woff");
       font-display: swap;
}

/* global */
html {
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 59px;
  font-weight: 400;
}

.btn {
  color:#FFFFFF;
  background-color: #FF9900;
  padding: 25px 39px;
  border-radius: 16px;
}

.stop-scroll {
  overflow: hidden;
}

:root {
  --gap: 32px;
}

/* header */
.header {
  width: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  padding: 15px 0;
  margin-bottom: 50px;
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

.nav {
  align-items: center;
}

.nav__item {
  font-weight: 600;
  font-size: 1.125rem;
  position: relative;
}

.nav__link {
  transition: outline 0.1s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: #FF9900;
  height: 2px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav__link:active {
  color: #E1670E;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
  background-color: #E1670E;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.header__search-button {
  width: 24px;
  height: 24px;
  transition: outline 0.2s ease-in-out;
}

.header__search-svg rect {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}

.header__search-svg path {
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.header__search-button:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.header__search-svg:hover path {
  stroke: #FF9900;
} 

.header__search-svg:hover rect {
  fill: #FF9900;
} 

.header__form {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px 13px 16px 32px;
  
  width: 539px;
  min-height: 60px;
  border-radius: 24px;
  
  position: absolute;
  z-index: 2;
  right: 0;
  transform: translateX(120%);

  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  
  transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s, visibility .3s ease-in-out .2s;
}

.header__form.active {
  transform: translateX(0);
  opacity: 1;
  visibility: unset;
}

.header__form.active .header__search-svg path {
  stroke: #FF9900;
} 

.header__form.active .header__search-svg rect {
  fill: #FF9900;
} 

.header__input {
  width: 412px;
  margin-right: 14px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #CACACA;
  font-size: 18px;
  line-height: 22px;
}

.header__input::placeholder {
  color: #CACACA;
}

.header__form .header__search-button {
  margin-right: 22px;
}

.header__form-closed {
  transition: outline 0.3s ease-in-out;
}

.header__form-closed rect {
  transition: fill 0.3s ease-in-out;
}

.header__form-closed circle {
  transition: stroke 0.3s ease-in-out;
}

.header__form-closed:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.header__form-closed:hover rect {
  fill: #FF9900;
}

.header__form-closed:hover circle {
  stroke: #FF9900;
}

.header__form-closed:active rect {
  fill: #000;
}

.header__form-closed:active circle {
  stroke: #000;
}

.header__logo-link {
  height: 72px;
  margin-right: 291px;
}

.header__logo {
  height: inherit;
}

/* бургер-меню */
.burger {
  display: none;
  z-index: 1000;
  position: relative;
  width: 30px;
  height: 20px;
}

.burger::before {
  content: "";
  position: absolute;
  top:0;
  left: 0px;
  height: 3px;
  width: 30px;
  background-color: #000;
}

.burger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 3px;
  width: 30px;
  background-color: #000;
}

.burger span {
  position: absolute;
  top: 8px;
  left: 0px;
  height: 3px;
  width: 30px;
  background-color: #000;
}

.burger.active span {
  opacity: 0;
}

.burger.active::before {
  transform: rotate(45deg);
  transform-origin: center;
  top: 50%;
}

.burger.active::after {
  transform: rotate(-45deg);
  transform-origin: center;
  top: 50%;
}

/* hero */
.hero {
  margin-bottom: 25px;
}

.hero__slides {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 32px;
}

.hero__firstImg {
  background-image: url(../img/1920/hero-1.png);
}

.hero__secondImg {
  background-image: url(../img/1920/hero-2.png);
}

.hero__thirdImg {
  background-image: url(../img/1920/hero-3.png);
}

.hero__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 78px;
}

.hero__title {
  margin: 0;
  font-weight: 800; 
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 24px;
}

.hero__title, .hero__descr {
  max-width: 55%;
  color: white;
}

.swiper.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 32px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #CACACA;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px; 
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.hero__img {
  position: absolute;
  max-height: 620px;
  object-fit: cover;
}

.hero__descr {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  margin-bottom: 90px;
}

.hero__btn {
  max-width: 280px;
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 28px;
  transition: background-color 0.2s ease-in-out ;
}

.hero__btn:focus-visible {
  outline: 0;
  background-color: #FFB84D;
}

.hero__btn:hover {
  background-color: #FFB84D;
}

.hero__btn:active {
  background-color: #E1670E;
}

/* about */
.about {
  padding-top: 25px;
  padding-bottom: 50px;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  max-width: 1235px;
  margin-bottom: 50px;
}

.text-block-about {
  width: 100%;
}

.img-block-about {
  height: 100%;
  min-width: 580px;
  border-radius: 32px;
  width: calc((100% - (var(--gap) * 1)) / 2);
  margin-right: var(--gap);
  flex-direction: column-reverse;
}

.about__text-block {
  flex-wrap: wrap;
  width: calc((100% - (var(--gap) * 1)) / 2);
}

.about__column {
  justify-content: space-between;
}

.text-block-about {
  justify-content: flex-end;
  min-height: 295px;
  border: 1px solid #CACACA;
  border-radius: 32px;
  padding: 7% 13% 5% 34%;
}

.about__top {
  margin-bottom: var(--gap);
  background-image: url(../img/about__top.svg);
}

.about__bottom {
  background-image: url(../img/about__bottom.svg);
}

.about__top, .about__bottom {
  background-repeat: no-repeat;
  background-position: left 9% center;
  background-size: 21.5%;
}

.about__right__descr {
  max-width: 450px;
}

.text-block-about__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
}

.img-block-about {
  position: relative;
  height: auto;
  min-height: 622px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.img-block-about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
}

.img-block-about__descr {
  position: relative;
  padding: 51px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-block-about__text {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 32px;
  max-width: 57%;
}

.img-block-about__btn {
  background-color: transparent;
  border: 3px solid #FF9900;
  padding: 17px 36px;
  font-weight: 600;
  line-height: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.img-block-about__btn:focus-visible {
  outline: 0;
  background-color: #FF9900;
  color: white;
}

.img-block-about__btn:hover {
  background-color: #FF9900;
  color: white;
}

.img-block-about__btn:active {
  border-color: #E1670E;
  background-color: #E1670E;
  color: white;
}

/* steps */
.steps {
  padding-top: 50px;
  padding-bottom: 50px;
}

.steps__title {
  margin-bottom: 48px;
}

.steps-content__item {
  font-size: 1.125rem;
  line-height: 22px;
}

.steps-content__item:not(:last-child) {
  margin-right: 86px;
}

.steps-content__item {
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.steps-content__item:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.steps-content__item:hover {
  cursor: pointer;
  color: #FF9900;
}

.steps-content__item.active {
  color: #E1670E;
  outline: none;
}

.steps-content__list {
  margin-bottom: 45px;
}

.steps-descr {
  justify-content: space-between;
}

.steps-descr__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 32px;
  margin-bottom: 8px;
}

.steps__descr {
  justify-content: space-between;
}

.steps-descr__text {
  max-width: 729px;
  margin-bottom: 18px;
}

.steps-descr__btn {
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 600;
  margin-right: 25px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.steps-descr__btn:focus-visible {
  outline: 0;
  background-color: #FFB84D;
  color: white;
}

.steps-descr__btn:hover {
  background-color: #FFB84D;
  color: white;
}

.steps-descr__btn:active {
  border-color: #E1670E;
  background-color: #E1670E;
  color: white;
}

.steps-descr__contract {
  border-radius: 16px;
  border: 1px solid black;
  padding: 20px 37px;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.steps-descr__contract:focus-visible {
  outline: 0;
  border-color: #666666;
  background-color: #666666;
  color: white;
}

.steps-descr__contract:hover {
  border-color: #666666;
  background-color: #666666;
  color: white;
}

.steps-descr__contract:active {
  border-color: #000000;
  background-color: #000000;
  color: white;
}

.steps-descr__img img {
  border-radius: 32px;
  object-fit: cover;
  height: 100%;
}

.steps-descr__content {
  max-width: calc((100% - var(--gap)) / 2);
}

.steps-descr__img {
  display: none;
  max-width: calc((100% - var(--gap)) / 2);
}

.steps-descr__img.active {
  display: block;
}

.steps-descr__item {
  display: none;
}

.steps-descr__item.active {
  display: block;
}

/* question */
.question {
  padding-top: 60px;
  padding-bottom: 100px;
}

.question__title {
  margin-bottom: var(--gap);
}

.question__item {
  font-size: 1.5rem;
  font-weight: 600;
}

.is-active svg {
  transform: rotate(45deg);
}

.item-question__content {
  display: flex;
  font-weight: 700;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin-bottom: -1px;
  position: relative;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.item-question__text {
  text-align: left;
  line-height: 32px;
}

.item-question__svg ellipse {
  transition: fill 0.3s ease-in-out;
}

.item-question__svg path {
  transition: fill 0.3s ease-in-out;
}

.item-question__svg {
  min-width: 50px;
  transition: transform 0.3s ease-in-out;
}

.item-question__content:hover {
  border-color: #FF9900;
  color: #FF9900;
  z-index: 1;
}

.item-question__content:hover ellipse {
  fill: #FF9900;
}

.item-question__content:hover path {
  fill:#FFFFFF;
}

.item-question__content:focus-visible {
  border-color: #FF9900;
  color: #FF9900;
  outline: none;
  z-index: 1;
}

.item-question__content:focus-visible ellipse {
  fill: #FF9900;
}

.item-question__content:focus-visible path {
  fill:#FFFFFF;
}

.item-question__content:active svg {
  transform: rotate(45deg);
}

.ac {
  margin: 0;
  border: 0;
}

.ac-panel p {
  font-size: 16px;
  line-height: 32px;
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  color: #FFFFFF;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-bottom: 6px;
}

.footer__item {
  font-size: 1.125rem;
  line-height: 36px;
  color: #CACACA;
}

.footer__item-link {
  transition: outline 0.2s ease-in-out, color 0.2s ease-in-out;
}

.footer__item-link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
  color: #CACACA;
}

.footer__item-link:hover {
  color: #FF9900;
}

.footer__item-link:active {
  color: #E1670E;
  outline: none;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__nav {
  width: calc(100% / 3 - 13%);
}

.form {
  width: calc(100% / 3 + 13%);
  max-width: 572px;
  flex-direction: column;
}

.footer__text {
  width: calc(100% / 3 - 13%);
  color: #CACACA;
}

.social-list__item {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.social-list__svg:hover path {
  fill:#FF9900;
}

.social-list__svg:active path {
  fill:#E1670E;
  outline: none;
}

.social-list__svg {
  fill: #666666;
}

.social-list__svg path {
  transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.social-list__svg path {
  fill: #666666;
}

.social-list__item {
  display: block;
  height: 100%;
  transition: outline 0.2s ease-in-out;
}

.social-list__item:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.social-list__item:not(:last-child) {
  margin-right: 25px;
}

.form__title {
  margin-bottom: 25px;
}

.form__input {
  background-color: #414141;
  color: #CACACA;
  border-radius: 16px;
  padding: 14px 24px;
  border: none;
  margin-bottom: 25px;
  line-height: 32px;
  outline: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form__input:focus {
  background-color: #666666;
}

.form__input:hover {
  background-color: #666666;
}

.form__input:active {
  background-color: #666666;
  color: #FFFFFF;
}

.form__input_big {
  height: 150px;
  margin-bottom: 32px;
  resize: none;
}

.form__btn {
  padding: 19px 52px;
  line-height: 19px;
  font-weight: 600;
  margin-right: 23px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.form__btn:focus-visible {
  outline: 0;
  background-color: #FFB84D;
  color: white;
}

.form__btn:hover {
  background-color: #FFB84D;
  color: white;
}

.form__btn:active {
  border-color: #E1670E;
  background-color: #E1670E;
  color: white;
}

.form__checkbox {
  align-items: center;
  justify-content: space-between;
  color: #CACACA;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox+label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #CACACA;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  margin-right: 4px;
}

.checkbox:checked+label::before {
  border-color: #CACACA;
  background-size: 11px;
  background-image: url(../img/footer-agree.svg);
}

.checkbox:focus-visible .form__agree-label {
  outline: 1px solid #fff; 
}
/* не работает */