/* шрифты */
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: local("Muller-Regular"),
       url("/fonts/MullerRegular.woff2") format("woff2"),
       url("/fonts/MullerRegular.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: local("Muller-Medium"),
       url("/fonts/MullerMedium.woff2") format("woff2"),
       url("/fonts/MullerMedium.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 300;
  src: local("Muller-Light"),
       url("/fonts/MullerLight.woff2") format("woff2"),
       url("/fonts/MullerLight.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 700;
  src: local("Muller-Bold"),
       url("/fonts/MullerBold.woff2") format("woff2"),
       url("/fonts/MullerBold.woff") format("woff");
       font-display: swap;
}

/* общие стили */
html {
  box-sizing: border-box;
  background-color: #F1F1F1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', 'Times New Roman';
  font-weight: 400;
}

p {
  margin: 0;
}

:root {
  --ultra-light-yellow: #F0BF5F;
  --light-yellow: #CC9933;
  --dark-yellow: #A47312;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

/* header */
.header__nav__logo {
  align-items: center;
  margin-bottom: 57px;
  margin-top: 30px;
}

.header__lk {
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-yellow);
  transition: color 0.3s ease-in-out, outline 0.1s ease-in-out;
}

.header__lk:focus-visible {
  color: var(--light-yellow);
  outline: 1px solid var(--light-yellow);
  outline-offset: 5px;
}

.header__lk:hover {
  color: var(--ultra-light-yellow);
}

.header__lk:active {
  color:  var(--dark-yellow);
}

.header__lk__icon {
  fill:var(--light-yellow);
  transition: fill 0.3s ease-in-out;
}

.header__lk:active .header__lk__icon {
  fill: var(--light-yellow);
}

.header__lk:hover .header__lk__icon {
  fill: var(--ultra-light-yellow);
}

.header__link {
  transition: color 0.3s ease-in-out, outline 0.1s ease-in-out;
}

.header__logo {
  margin-right: 40px;
}

.header__item {
  margin-right: 45px;
}

.header__btns {
  margin-left: auto;
}

.btn {
  background-color: transparent;
  color: var(--light-yellow);
  padding: 13px;
  border-radius: 15px;
  border: 1px var(--light-yellow) solid;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:focus-visible {
  outline: none;
  color: #fff;
  background-color: var(--light-yellow);
}

.btn:hover {
  color: #fff;
  background-color: var(--light-yellow);
}
.btn:active {
  color: #fff;
  background-color:  var(--dark-yellow);
}

.header__btn:not(:nth-child(2)) {
  margin-right: 80px;
}

.header__nav {
  border: #fff 1px solid;
  background-color: #fff;
  padding: 13px 45px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header__list {
  align-items: center;
  background-image: url(../img/line.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.header__phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #666666;
  transition: color 0.3s ease-in-out, outline 0.1s ease-in-out;
}

.header__phone:focus-visible, .header__link:focus-visible {
  color: var(--light-yellow);
  outline: 1px solid var(--light-yellow);
  outline-offset: 5px;
}

.header__phone:hover, .header__link:hover {
  color: var(--light-yellow);
}

.header__phone:active, .header__link:active {
  color:  var(--dark-yellow);
}

/* special offer */
.offer__article__big {
  height: 540px;
  background-image: linear-gradient(360deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Group\ 13.png);
  background-repeat: no-repeat;
  justify-content: flex-end;
}

.offer__title {
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  width: 300px;
  height: 80px;
}

.offer__title__price {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin-bottom: 47px;
}

.offer__article {
  width: 573px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  border-radius: 15px;
}


.offer__more {
  color: var(--ultra-light-yellow);
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.offer__more svg {
  transition: margin-left 0.3s ease-in-out;
}

.offer__more:hover svg {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.offer__more:active {
  color: white; 
}

.offer__more::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid var(--light-yellow);
  outline-offset: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.offer__more:focus-visible::after {
  opacity: 1;
}

.offer__arrow {
  stroke: var(--ultra-light-yellow);
  width: 15px;
  height: 15px;
}

.offer__left {
  margin-right: 23px;
}

.offer__first {
  margin-bottom: 23px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offer_first.png);
  background-repeat: no-repeat;
}

.offer__second {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offer_second.jpg);
  background-repeat: no-repeat;
}

.offer__title__big {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  height: 180px;
}

/* about */
.about__descr {
  width: 888px;
  height: 180px;
  line-height: 32px;
}

/* services */
.services__list {
  flex-wrap: wrap;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services__item {
  position: relative;
  outline: none;
  width: 573px;
  height: 330px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 15px;
}

.services__descr{
  line-height: 32px;
}

.services__content {
  padding: 26px 126px 35px 45px;
}

.services__title {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: var(--light-yellow);
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.services__arrow {
  stroke: var(--light-yellow);
  margin-left: 5px;
  transition: stroke 0.2s ease-in-out, margin-left 0.3s ease-in-out;
}

.services__title__text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid var(--light-yellow);
  outline-offset: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services__title__text:focus-visible::before {
  opacity: 1;
} 

.services__title:hover {
  color: var(--ultra-light-yellow);
}

.services__title:hover svg {
  stroke: var(--ultra-light-yellow);
  margin-left: 20px;
}

.services__title:active {
  color:  var(--dark-yellow);
}

.services__title:active svg {
  stroke:  var(--dark-yellow);
}

.services__title__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__first__img {
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
}

.services__second__img {
  background-image: url(../img/2.png);
  background-repeat: no-repeat;
}

.services__third__img {
  background-image: url(../img/3.png);
  background-repeat: no-repeat;
}

.services__fourth__img {
  background-image: url(../img/4.png);
  background-repeat: no-repeat;
}
/* advantages */
.advantages__item {
  width: 275px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-left: 45px;
  padding-right: 40px;
  background-color: #fff;
  border-radius: 15px;
}

.advantages__text {
  line-height: 32px;
}

.advantages__list {
  flex-wrap: wrap;
}

.advantages__item {
  margin-bottom: 23px;
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages__first__img {
  background-image: url(../img/bathtub.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__second__img {
  background-image: url(../img/hanger.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__third__img {
  background-image: url(../img/heating.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__fourth__img {
  background-image: url(../img/hotel-key.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__fifth__img {
  background-image: url(../img/parking.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__sixth__img {
  background-image: url(../img/reception.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__seventh__img {
  background-image: url(../img/security-box.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

.advantages__eighths__img {
  background-image: url(../img/swimming-pool.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 80px;
}

/* placement */
.placement__list {
  flex-wrap: wrap;
}

.placement__item {
  width: 373px;
  height: 440px;
  margin-bottom: 23px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}

.placement__item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placement__text {
  padding: 30px 40px 40px 40px;
}

.placement__gray, .placement__descr {
  line-height: 16px;
  color: #999999;
}

.placement__cost {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.placement__price {
  display: inline-block;
  margin-right: 44px;
  margin-bottom: 16px;
}

.placement__stars {
  display: inline-block;
}

.placement__title {
  margin: 0;
  margin-bottom: 16px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}

.placement__descr {
  margin-bottom: 30px;
}

.placement__item__big {
  background-image: url(../img/13.png);
  align-items: flex-end;
  justify-content: center;
}

.placement__all__variants {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
  background-image: url(../img/white\ arrow.svg);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 15px;
} 

.placement__all__variants::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* wanna tour */
.form__title {
  padding-left: 0;
  color: #000;
}

.form__container {
  background-color:#E9E9E9;
  border-radius: 15px;
  padding: 38px 45px 71px 45px;
}

.form__option {
  flex-wrap: wrap;
  background-image: url(../img/line.svg);
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: contain;
}

.form__option select {
  padding-right: 10px;
  max-width: max-content;
}

.form__tour {
  justify-content: space-between;
}

.form__wanna__tour {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}

.form__about {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
}

.form__option select, .form__option input, .form__option {
  border: none;
}

.form__left {
  width: 190px;
}

.option_left select{
  width: 170px;
  background-image: url(../img/arrowform.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 26px;
}

.form__right input {
  width: 121px;
}

.form__right {
  width: 160px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.form__number {
  border-bottom: 1px solid #e1e1e1;
}

.form__btn {
  padding-right: 30px;
  padding-left: 30px;
}

/* contacts */
ul {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none ;
}

.contacts__list {
  margin-right: 50px;
  width: 375px;
  margin-bottom: 45px;
}

.contacts__item {
  display: flex;
  font-style: normal;
  background-image: url(../img/line_contacts.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 23px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 23px;
}

.container__contacts {
  background-color: #fff;
  border-radius: 15px;
  padding: 45px;
}

.contacts__item div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts__item__text {
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  width: 145px;
}

.footer__contacts__link {
  max-width: max-content;
  line-height: 24px;
  color: var(--light-yellow);
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.footer__contacts__link:focus-visible {
  outline: 0;
  color: var(--light-yellow);
  outline: 1px solid var(--light-yellow);
  outline-offset: 1px;
}

.footer__contacts__link:hover {
  color: var(--ultra-light-yellow);
}

.footer__contacts__link:active {
  color:  var(--dark-yellow);
}

.link__text {
  line-height: 24px;
  color: #999999;
}

.contacts__street {
  padding-left: 55px;
}

.worktime {
  padding-left: 35px
}

.contacts__btn {
  padding: 27px 29px;
  font-weight: 700;
}

/* footer */

.footer__container {
  padding: 50px;
  display: flex;
  line-height: 31px;
  background-color: #333333;
  border-radius: 15px;
  background-image: url(../img/sun-footer.png);
  background-repeat: no-repeat;
  background-position: top 160px right 175px;
}

.footer__left {
  width: 320px;
  margin-right: 100px;
}

.footer__left p {
  margin-bottom: 50px;
  color: #fff;
}

.footer__center {
  display: flex;
  flex-direction: column;
}

.footer__link__number {
  margin-bottom: 15px;
}

.footer__center p {
  margin-bottom: 15px;
  color: #fff;
}

.footer__right {
  margin-left: auto;
}

.footer__icon__link {
  fill: #999999;
}

.footer__link {
  justify-content: center;
  align-items: center;
}

.footer__item {
  width: 25px;
  height: 25px;
}

.footer__link svg {
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}


.footer__link:focus-visible svg, .footer__link:hover svg  {
  outline: none;
  fill:var(--light-yellow);
  transform: scale(1.1);
}

.footer__link:active svg {
  fill: var(--dark-yellow);
}